.swiperThumb {
  @apply flex items-center h-1/5 px-2 box-border;
}

.swiper-wrapper {
  @apply mx-auto w-auto;
}

.swiperThumb .swiper-wrapper {
  @apply flex justify-center py-1;
}

.swiperThumb .swiper-slide {
  @apply opacity-60 max-w-20% h-max;
}

.swiperThumb .modal-swiper-slide {
  @apply max-w-max;
}

.swiperThumb .swiper-slide-thumb-active {
  @apply opacity-100 border-2 border-blue-950 rounded;
}

.modal .swiper-button-prev::after,
.modal .swiper-button-next::after {
  @apply fixed;
}

.modal .swiper-pagination {
  @apply hidden;
}
