* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper_nav ul {
  text-align: left;
}

.wrapper_nav ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 10px;
}

.wrapper_nav ul li a:hover {
  background: green;
  color: #fff;
}

.wrapper_nav {
  width: 250px;
}

.profile_border {
  text-align: left;
  padding: 10px 40px;
  border: 1px solid #819fff;
  border-radius: 5px;
  height: 100%;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 600;
  margin-right: 20px;
}

.profile_line {
  margin-bottom: 25px;
}

.profile_line_r {
  font-size: 20px;
  position: relative;
}

.profile_line p {
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
  color: brown;
}

.profile_title_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.profile_line input {
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(30 58 138 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(224 242 254 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  margin-left: -14px;
}

.profile_line input:disabled {
  background: none;
  border: 1px solid transparent;
  font-weight: 600;
}

.flex {
  display: flex;
  margin: 0 -10px;
  margin-bottom: 20px;
}

.flex .col {
  width: 50%;
  padding: 0 10px;
}

.address_card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}

.address_card:hover {
  box-shadow:
    0px 1px 4px rgb(0 0 0 / 5%),
    0px 6px 24px rgb(0 0 0 / 4%),
    inset 0px 1px 1px rgb(0 0 0 / 4%);
}

.address_card .profile_line {
  margin-bottom: 10px;
}

.address_card {
  height: 100%;
}

.address_card input {
  margin: 0;
}

.address_card .label {
  margin-left: 14px;
}

.edit {
  background-image: url(../../assets/svg/edit.svg);
  background-position: center left;
  padding: 5px 10px 5px 24px;
  background-size: 20px;
  background-repeat: no-repeat;
  min-height: 30px;
}

.cancel {
  background-image: url(../../assets/svg/cancel.svg);
  background-position: center left;
  padding: 5px 10px 5px 24px;
  background-size: 20px;
  background-repeat: no-repeat;
  min-height: 30px;
}

.delete {
  background-image: url(../../assets/svg/delete.svg);
  background-position: center left;
  padding: 5px 10px 5px 24px;
  background-size: 20px;
  background-repeat: no-repeat;
  min-height: 30px;
}

.address_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cecece;
  align-items: center;
}

.address_item:last-child {
  border-bottom: none;
}

.address_title {
  min-width: 400px;
}
