@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  display: flex;
  align-items: center;
}

.btn {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2;
}

.input {
  @apply border rounded w-full py-2 px-3 text-gray-700  focus:outline-none bg-white;
}

.input:selected {
  background-color: #fff;
}

/* .input[aria-invalid='false'] {
  @apply border-green-500;
} */

.label {
  @apply block text-sm font-medium text-slate-700;
}

.select {
  @apply border rounded w-full py-3 px-2 bg-white	 text-gray-700 focus:border-gray-500 focus:outline-none w-full p-2.5;
}

.input[aria-invalid='true'],
.select[aria-invalid='true'] {
  @apply border-red-500;
}
