@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Epilogue';
  src: local('Epilogue') url(./assets/fonts/Epilogue-Regular.ttf)
    format(trueType);
}

body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
      to bottom,
      theme('colors.c-sky') 0%,
      theme('colors.c-sky') 70%,
      theme('colors.c-sky-green') 100%
    )
    fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  display: flex;
  align-items: center;
}
